<footer class="page-footer indigo darken-2">
        <div class="container">
          <div class="row">
            <div class="col l4 s12">
              <h5 class="white-text">JobMtaani.co.ke</h5>
              <p class="grey-text text-lighten-4 class="custom-font-1"">Leading platfrom in connecting local vocational and Technical skills with the right market hence promoting employment and growth</p>
            </div>

            <div class="col l4 offset-l4 s12">
              <h5 class="white-text">Routes</h5>
              <ul  class="custom-font-1">
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Marketplace</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Latest News</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Legal</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright pink lighten-1">
          <div class="container center custom-font-1">
          © JobMtaani, 2021

          </div>
        </div>
      </footer>
          